.badge {
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  color: $badge-color;
  min-width: $badge-min-height;
  padding: $badge-padding-y $badge-padding-x;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  @include border-radius($badge-border-radius);

  @each $type, $color in $colors {
    &.#{$type} {
      background-color: $color;
    }
  }
}

a.badge:hover {
  color: darken($white, 10);
}